* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #F15C22 0%, #F7931D 50%, #FFC840 100%);
  min-height: 100vh;
  margin: 0;
}

button {
  cursor: pointer;
}

.story__container {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  gap: 60px;
  width: 100%;
  padding: 0 0 0 159px;
  overflow: hidden;
  transform: translateY(-50%);
}

.story__left-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 298px;
  margin-bottom: 55px;
}

.story__slider-arrows-container {
  display: flex;
  gap: 24px;
  margin-bottom: 45px;
}

.story__next-button,
.story__prev-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: rgba(38, 40, 97, 1);
  border-radius: 50px;
  border: none;
  padding: 0;
}

.story__next-button svg,
.story__prev-button svg {
  fill: #ffffff;
}

.story__next-button:hover,
.story__prev-button:hover {
  opacity: .8;
}

.story__title {
  font-family: Roboto, sans-serif;
  font-size: 46px;
  color: #ffffff;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: -0.02em;
  margin-top: 0;
  margin-bottom: 14px;
}

.story__content {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
  margin-bottom: 42px;
}

.story__button {
  display: flex;
  align-items: center;
  gap: 10px;
  width: max-content;
  background-color: rgba(255, 200, 64, 1);
  border: none;
  border-radius: 50px;
  color: rgba(38, 40, 97, 1);
  font-family: "Roboto Mono", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  padding: 16px 32px;
  cursor: pointer;
}

.story__button:hover {
  opacity: .8;
}

.story__right-column {
  position: relative;
  left: 0;
  overflow: hidden;
  width: 100%;
}

.story__slider {
  width: 843px;
  margin-bottom: 0 !important;
}

.story__slide {
  position: relative;
  height: 473.37px !important;
  margin-right: 30px;
}

.story__video {
  display: none;
  width: 100%;
  height: 100%;
}

.story__thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.story__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #F15C22;
  width: 68px;
  height: 40px;
  padding: 12px 26px;
  border-radius: 4px;
  border: none;
  transform: translate(-50%, -50%);
}

.story__play-button:hover {
  opacity: .8;
}

.slick-list {
  overflow: visible !important;
}

.story__dots {
  display: flex;
  gap: 16px;
  list-style-type: none;
  padding-left: 0;
  margin-top: 32px;
}

.story__dots button {
  background-color: #ffffff;
  opacity: 50%;
  border: none;
  border-radius: 50px;
  color: transparent;
  padding: 0;
  width: 16px;
  height: 16px;
}

.story__dots .slick-active button {
  opacity: 100%;
}

@media (max-width: 1360px) {
  .story__slider {
    width: calc((100vw - 517px) * .90);
  }

  .story__slide {
    height: calc((100vw - 517px) * .90 * .5615) !important;
  }
}

@media (max-width: 940px) {
  .story__container {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    top: 0;
    padding: 48px 0 48px 24px;
    transform: none;
  }

  .story__left-column {
    max-width: 600px;
    padding-right: 24px;
    margin-bottom: 0;
  }

  .story__slider-arrows-container {
    order: 4;
    margin-top: 45px;
    margin-bottom: 0;
  }

  .story__slider {
    width: calc(90vw);
  }

  .story__slide {
    height: calc(90vw * .5615) !important;
  }
}